<div class="btn-group btn-group-lg d-flex pt-1 px-1" role="group">
  <button style="font-size:14px;height:47px;" type="button" class="border-end btn btn-info w-100 p-0 m-0" disabled>Trash</button>
  <button style="font-size:14px;height:47px;" type="button" class="border-start btn border-end btn btn-info w-100 p-0 m-0" disabled>Want</button>
  <button style="font-size:14px;height:47px;" type="button" class="border-start btn border-end btn btn-info w-100 p-0 m-0" disabled>Trade Darryl</button>
  <button style="font-size:14px;height:47px;" type="button" class="border-start btn btn-info w-100 p-0 m-0" disabled>Trade Janice</button>
</div>
<div class="btn-group btn-group-lg d-flex pt-1 px-1" role="group">
  <button ng-click="myFunction('Formulas 2.0','C12')" style="font-size:14px;height:45px;" type="button" class="border-end btn btn-danger w-100 p-0">Filter Male</button>
  <button ng-click="myFunction('Formulas 2.0','D12')" style="font-size:14px;height:45px;" type="button" class="border-start border-end btn btn-success w-100 p-0">Filter Male</button>
  <button ng-click="myFunction('Formulas 2.0','E12')" style="font-size:14px;height:45px;" type="button" class="border-start border-end btn btn-secondary w-100 p-0">Filter Male</button>
  <button ng-click="myFunction('Formulas 2.0','F12')" style="font-size:14px;height:45px;" type="button" class="border-start btn btn-secondary w-100 p-0">Filter Male</button>
</div>
<div class="btn-group btn-group-lg d-flex pt-0 px-1 border-top" role="group">
  <button ng-click="myFunction('Formulas 2.0','C13')" style="font-size:14px;height:45px;" type="button" class="border-end btn btn-danger w-100 p-0">Filter Female</button>
  <button ng-click="myFunction('Formulas 2.0','D13')" style="font-size:14px;height:45px;" type="button" class="border-start border-end btn btn-success w-100 p-0">Filter Female</button>
  <button ng-click="myFunction('Formulas 2.0','E13')" style="font-size:14px;height:45px;" type="button" class="border-start border-end btn btn-secondary w-100 p-0">Filter Female</button>
  <button ng-click="myFunction('Formulas 2.0','F13')" style="font-size:14px;height:45px;" type="button" class="border-start btn btn-secondary w-100 p-0">Filter Female</button>
</div>
<div class="btn-group btn-group-lg d-flex pt-0 px-1 border-top" role="group">
  <button ng-click="myFunction('Formulas 2.0','C14')" style="font-size:14px;height:45px;" type="button" class="border-end btn btn-danger w-100 p-0">Alola Male</button>
  <button ng-click="myFunction('Formulas 2.0','D14')" style="font-size:14px;height:45px;" type="button" class="border-start border-end btn btn-success w-100 p-0">Alola Male</button>
  <button ng-click="myFunction('Formulas 2.0','E14')" style="font-size:14px;height:45px;" type="button" class="border-start border-end btn btn-secondary w-100 p-0">Alola Male</button>
  <button ng-click="myFunction('Formulas 2.0','F14')" style="font-size:14px;height:45px;" type="button" class="border-start btn btn-secondary w-100 p-0">Alola Male</button>
</div>
<div class="btn-group btn-group-lg d-flex pt-0 px-1 border-top" role="group">
  <button ng-click="myFunction('Formulas 2.0','C15')" style="font-size:14px;height:45px;" type="button" class="border-end btn btn-danger w-100 p-0">Alola Female</button>
  <button ng-click="myFunction('Formulas 2.0','D15')" style="font-size:14px;height:45px;" type="button" class="border-start border-end btn btn-success w-100 p-0">Alola Female</button>
  <button ng-click="myFunction('Formulas 2.0','E15')" style="font-size:14px;height:45px;" type="button" class="border-start border-end btn btn-secondary w-100 p-0">Alola Female</button>
  <button ng-click="myFunction('Formulas 2.0','F15')" style="font-size:14px;height:45px;" type="button" class="border-start btn btn-secondary w-100 p-0">Alola Female</button>
</div>
<div class="btn-group btn-group-lg d-flex pt-0 px-1 border-top" role="group">
  <button ng-click="myFunction('Formulas 2.0','C16')" style="font-size:14px;height:45px;" type="button" class="border-end btn btn-danger w-100 p-0">Galar Male</button>
  <button ng-click="myFunction('Formulas 2.0','D16')" style="font-size:14px;height:45px;" type="button" class="border-start border-end btn btn-success w-100 p-0">Galar Male</button>
  <button ng-click="myFunction('Formulas 2.0','E16')" style="font-size:14px;height:45px;" type="button" class="border-start border-end btn btn-secondary w-100 p-0">Galar Male</button>
  <button ng-click="myFunction('Formulas 2.0','F16')" style="font-size:14px;height:45px;" type="button" class="border-start btn btn-secondary w-100 p-0">Galar Male</button>
</div>
<div class="btn-group btn-group-lg d-flex pt-0 px-1 border-top" role="group">
  <button ng-click="myFunction('Formulas 2.0','C17')" style="font-size:14px;height:45px;" type="button" class="border-end btn btn-danger w-100 p-0">Galar Female</button>
  <button ng-click="myFunction('Formulas 2.0','D17')" style="font-size:14px;height:45px;" type="button" class="border-start border-end btn btn-success w-100 p-0">Galar Female</button>
  <button ng-click="myFunction('Formulas 2.0','E17')" style="font-size:14px;height:45px;" type="button" class="border-start border-end btn btn-secondary w-100 p-0">Galar Female</button>
  <button ng-click="myFunction('Formulas 2.0','F17')" style="font-size:14px;height:45px;" type="button" class="border-start btn btn-secondary w-100 p-0">Galar Female</button>
</div>
<div class="btn-group btn-group-lg d-flex pt-0 px-1 border-top" role="group">
  <button ng-click="myFunction('Formulas 2.0','C18')" style="font-size:14px;height:45px;" type="button" class="border-end btn btn-danger w-100 px-0">Hisui Male</button>
  <button ng-click="myFunction('Formulas 2.0','D18')" style="font-size:14px;height:45px;" type="button" class="border-start border-end btn btn-success w-100 p-0">Hisui Male</button>
  <button ng-click="myFunction('Formulas 2.0','E18')" style="font-size:14px;height:45px;" type="button" class="border-start border-end btn btn-secondary w-100 p-0">Hisui Male</button>
  <button ng-click="myFunction('Formulas 2.0','F18')" style="font-size:14px;height:45px;" type="button" class="border-start btn btn-secondary w-100 p-0">Hisui Male</button>
</div>
<div class="btn-group btn-group-lg d-flex pt-0 px-1 border-top" role="group">
  <button ng-click="myFunction('Formulas 2.0','C19')" style="font-size:14px;height:45px;" type="button" class="border-end btn btn-danger w-100 p-0">Hisui Female</button>
  <button ng-click="myFunction('Formulas 2.0','D19')" style="font-size:14px;height:45px;" type="button" class="border-start border-end btn btn-success w-100 p-0">Hisui Female</button>
  <button ng-click="myFunction('Formulas 2.0','E19')" style="font-size:14px;height:45px;" type="button" class="border-start border-end btn btn-secondary w-100 p-0">Hisui Female</button>
  <button ng-click="myFunction('Formulas 2.0','F19')" style="font-size:14px;height:45px;" type="button" class="border-start btn btn-secondary w-100 p-0">Hisui Female</button>
</div>
<div class="btn-group btn-group-lg d-flex pt-0 px-1 border-top" role="group">
  <button ng-click="myFunction('Formulas 2.0','C20')" style="font-size:14px;height:45px;" type="button" class="border-end btn btn-danger w-100 p-0">Paldea Male</button>
  <button ng-click="myFunction('Formulas 2.0','D20')" style="font-size:14px;height:45px;" type="button" class="border-start border-end btn btn-success w-100 p-0">Paldea Male</button>
  <button ng-click="myFunction('Formulas 2.0','E20')" style="font-size:14px;height:45px;" type="button" class="border-start border-end btn btn-secondary w-100 p-0">Paldea Male</button>
  <button ng-click="myFunction('Formulas 2.0','F20')" style="font-size:14px;height:45px;" type="button" class="border-start btn btn-secondary w-100 p-0">Paldea Male</button>
</div>
<div class="btn-group btn-group-lg d-flex pt-0 px-1 border-top" role="group">
  <button ng-click="myFunction('Formulas 2.0','C21')" style="font-size:13px;height:45px;" type="button" class="border-end btn btn-danger w-100 p-0">Paldea Female</button>
  <button ng-click="myFunction('Formulas 2.0','D21')" style="font-size:13px;height:45px;" type="button" class="border-start border-end btn btn-success w-100 p-0">Paldea Female</button>
  <button ng-click="myFunction('Formulas 2.0','E21')" style="font-size:13px;height:45px;" type="button" class="border-start border-end btn btn-secondary w-100 p-0">Paldea Female</button>
  <button ng-click="myFunction('Formulas 2.0','F21')" style="font-size:13px;height:45px;" type="button" class="border-start btn btn-secondary w-100 p-0">Paldea Female</button>
</div>