.responsive-text {
  font-size: calc(1vw + 1vh); /* Adjust values as needed */
}
/* .your-element {
  height: 95vh;
  height: 95dvh;
} */
.accordion-header.my-sticky {
position: -webkit-sticky;
position: sticky;
z-index: 1;
top: 40px; }
.card-img-top {
    width: 100%;
    height: 25vw;
    object-fit: cover;
}